<template>
    <PageWrapper  :columns="columns" :breadcrumbs="breadcrumbs">
        <template #extra>
          <a-tooltip >
            <a-button
              type="primary"
              size="large"
              class="center-items"
              @click="addPatient"
            >
              <PlusOutlined />
            </a-button>
          </a-tooltip>
        </template>
    <a-card>
        <h1>Contacts</h1>
    </a-card>
</PageWrapper>

</template>
<script setup>
import { PlusOutlined } from "@ant-design/icons-vue";
import PageWrapper from "../../components/PageWrapper.vue";

</script>
<style scoped>

</style>


