<template>
    <a-card>
        <h1>Dashboard</h1>
    </a-card>
</template>
<script setup>
</script>
<style scoped>

</style>



Hello Sir,
 
i would like to inform you that today I have completed the following tasks in
medico

*code-review
 -  page Folder  inside Drawer paged
 - Composable inside useDataTable.js 

*vue-project
 - Create SideDrawer and SideButon Component 
 - after Medico Project  patients' code has been reviewed and tried to add and update in it.
 - pageHeader show button in slot wise 

Thanks & Regards,
Sarika Pithiya