<template>
  <a-form
    :model="record"
    :rules="rules"
    layout="vertical"
    :disabled="formLoading"
    @finish="onSubmit"
  >
    <a-row :gutter="[20]">
      <a-col :span="8">
        <a-form-item label="First Name" name="first_name">
          <a-input
            v-model:value="record.first_name"
            placeholder="Enter first name "
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item
          label="Middle Name"
          name="middle_name"
        > 
          <a-input
            v-model:value="record.middle_name"
            allow-clear
            placeholder="Enter middle name"
          />
        </a-form-item>
      </a-col>

      <a-col :span="8">
        <a-form-item label="Last Name" name="last_name">
          <a-input
            v-model:value="record.last_name"
            placeholder="Enter last name"
          />
        </a-form-item>
      </a-col>

      <a-col :span="12">
        <a-form-item label="Mobile No." name="mobile">
          <a-input
            v-model:value="record.mobile"
            placeholder="Enter mobile no"
          />
        </a-form-item>
      </a-col>

      <a-col :span="12">
        <a-form-item label="Email" name="email">
          <a-input
            v-model:value="record.email"
            placeholder="Enter email"
            allow-clear
          />
        </a-form-item>
      </a-col>

      <a-col :span="12">
        <a-form-item
          label="Date of Birth"
          name="dob"
          :help="patientAge"
        >
          <a-date-picker
            v-model:value="record.dob"
            placeholder="pick a date "
            :format="MMMMDDYYYY"
            allow-clear
            :disabled-date="disableFutureDate"
            @change="onDateChange"
            style="width: 100%"
          />
        </a-form-item>
      </a-col>

      <a-col :span="12">
        <a-form-item label="Gender" name="gender">
          <a-select
            v-model:value="record.gender"
            placeholder="select a gender"
            allow-clear
            >
            <a-select-option value="male">Male</a-select-option>
            <a-select-option value="female">Female</a-select-option>
            <a-select-option value="other">Other</a-select-option>
        </a-select>
        </a-form-item>
      </a-col>

      <a-col :span="24">
        <a-form-item
          label="Address Line #1"
          name="address_line_1"
        >
          <AInput
            v-model:value="record.address_line_1"
            allow-clear
            placeholder="Enter here..."
          />
        </a-form-item>
      </a-col>

      <a-col :span="24">
        <a-form-item
          label="Address Line #2"
          name="address_line_2"
        >
          <a-input
            v-model:value="record.address_line_2"
            allow-clear
            placeholder="Enter here..."
          />
        </a-form-item>
      </a-col>

      <a-col :span="8">
        <a-form-item label="City" name="city">
          <a-input
            v-model:value="record.city"
            placeholder="Enter city"
            allow-clear
          />
        </a-form-item>
      </a-col>

      <a-col :span="8">
        <a-form-item label="State" name="state">
          <a-input
            v-model:value="record.state"
            placeholder="Enter state"
            allow-clear
          />
        </a-form-item>
      </a-col>

      <a-col :span="8">
        <a-form-item label="Pincode " name="pincode">
          <a-input
            v-model:value="record.pincode"
            allow-clear
            placeholder="Enter pincode"
            :maxlength="7"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <SideDrawerButtons
      
    >
    <a-form-item>
      <a-button style="margin-right: 8px" @click="closeDrawer()">
        Cancel
      </a-button>
      <a-button
        type="primary"
        html-type="submit"
      >
        {{ record.id ? "Update" : "create" }}
      </a-button>
    </a-form-item>
    </SideDrawerButtons>
  </a-form>
</template>

<script setup>
import { v4 as uuidv4 } from "uuid";
// import { useDrawerStore } from "@/stores/drawer";
import { useDrawerStore } from '../../../stores/drawer';
import SideDrawerButtons from '../../../components/SideDrawerButtons.vue';
import  { disableFutureDate ,MMMMDDYYYY , YYYYMMDD} from '../../../helpers/dates'
import dayjs from "dayjs";
import { reactive , ref , onMounted } from "vue";


const  record = reactive({
  id: "",
  first_name: "",
  middle_name: "",
  last_name: "",
  mobile: "",
  email: "",
  dob: "",
  gender: "",
  age: "",
  address_line_1: "",
  address_line_2: "",
  city: "",
  state: "",
  pincode: "",
})
const drawerStore = useDrawerStore();

const payload = drawerStore.getPayload;

console.log({payload})


const formLoading = ref(false);
const numberValidator = async (rule, value) =>
  new Promise((resolve, reject) => {
    if (!value) return resolve();
    if (Number.isNaN(+value)) return reject(rule.message);
    resolve();
  });
const rules = {
  first_name: { required: true, message: "First Name is required" },
  last_name: { required: true, message: "Last Name is required" },
  mobile: [
    { required: true, message: "Mobile No. is required" },
    {
      message: "Mobile No. is invalid",
      asyncValidator: numberValidator,
    },
  ],
  email: {
    type: "email",
    message: "Email is invalid",
  },
};

const patientAge = ref("");
const onDateChange = () => {
  const date = record.dob;
  if (!date) return;
  const age = dayjs().diff(date, "year");
  if (age === 0) {
    const monthDiff = dayjs().diff(date, "month");
    patientAge.value = "month", { age: monthDiff };
    return;
  }
  patientAge.value = "sdfdgdg", { age };
};



const onSubmit = async () => {
  formLoading.value = true;
  drawerStore.loadingStart();
  const callback = drawerStore.getCallback;
  const data = {
    id: record.id,
    first_name: record.first_name,
    middle_name: record.middle_name,
    last_name: record.last_name,
    mobile: record.mobile, 
    email: record.email,
    dob: record["dob"].format(YYYYMMDD),
    age: dayjs().diff(record.dob, "year"),
    gender: record.gender,
    address_line_1: record.address_line_1,
    address_line_2: record.address_line_2,
    city: record.city,
    state: record.state,
    pincode: record.pincode,
  };

  try {
    data.id = uuidv4();
    localStorage.setItem("patientData", JSON.stringify(data));
    callback();
    drawerStore.reset();
  } catch (e) {
    console.log({ e });
  } finally {
    formLoading.value = false;
    drawerStore.loadingStop();  
  }
};
const loadDataFromLocalStorage = () => {
  const data = JSON.parse(localStorage.getItem("patientData"));
  if (data) {
    Object.keys(data).forEach((key) => {
      if (key === "dob") record[key] = dayjs(data[key], YYYYMMDD);
      else record[key] = data[key];
    });
  }
};

onMounted(() => {
  loadDataFromLocalStorage();
});

</script>
