<template>
  <div class="page-wrapper">
    <a-row :gutter="[0, 5]">
      <a-col v-if="!hideHeader" :span="24">
        <PageHeader
          :title="title || useRoute().meta.title"
          :subtitle="subtitle"
          :breadcrumbs="breadcrumbs"
          :disable-back-button="disableBackButton"
          :hide-title="hideTitle"
        >
          <template #additional>
            <slot name="additional" />
          </template>
          <template #subtitle>
            <slot name="subtitle" />
          </template>
          <template #middle>
            <slot name="middle" />
          </template>
          <template #extra>
            <slot name="extra" />
            <ColumnsSelect
              v-if="columns"
              v-model="modifiedColumns"
              :default-hidden="defaultHidden"
            >
              <a-tooltip title="">
                <a-button type="dashed" size="large" class="center-items">
                  <SettingOutlined />
                </a-button>
              </a-tooltip>
            </ColumnsSelect>
          </template>
        </PageHeader>
      </a-col>
      <a-col :span="24">
        <slot :columnsFiltered="columnsFiltered" />
      </a-col>
    </a-row>
  </div>
</template>
<script setup>
import { SettingOutlined} from '@ant-design/icons-vue'
import PageHeader from "./PageHeader.vue";
import { computed, defineProps, ref, watch } from "vue"; 
import { useRoute } from 'vue-router';
const props = defineProps({
  title: String,
  subtitle: String,
  breadcrumbs: {
    type: Array,
    default: () => [],
  },
  disableBackButton: Boolean,
  columns: {
    type: Array,
    default: () => [],
  },
  hideHeader: Boolean,
  hideTitle: Boolean,
});
const defaultHidden = computed(() => {
  const cols = props.columns;
  if (!cols) return [];
  const filter = (column) =>
    Object.prototype.hasOwnProperty.call(column, "show") && column.show === false;

  const hiddenColumns = cols.filter(filter) || [];
  return hiddenColumns.map((column) => column.dataIndex);
});

const updateCols = (cols) => {
  if (!cols) return [];
  return cols.map((column) => ({
    ...column,
    show: !defaultHidden.value.includes(column.dataIndex),
  }));
};
const modifiedColumns = ref(updateCols(props.columns));

watch(
  () => props.columns,
  (newVal) => {
    modifiedColumns.value = updateCols(newVal);
  }
);

const columnsFiltered = computed(() => {
  return modifiedColumns.value.filter((column) => column.show);
});
</script> 