  <template>
    <a-card size="small">
      <a-row justify="space-between" align="middle">
        <a-col>
          <a-row>
            <a-col v-if="breadcrumbs" :span="24">
              <a-breadcrumb>
               
                  <a-breadcrumb-item > 
                    <router-link :to="{ name :'dashboard'}">
                      Home
                    </router-link>
                  </a-breadcrumb-item>
                  <a-breadcrumb-item >
                    <a-button size="small" type="text" style="color:rgb(146, 141, 141)">{{ title }} </a-button>
                  </a-breadcrumb-item>
               
              </a-breadcrumb>
            </a-col>
            <a-col :span="24" v-if="!hideTitle">
              <a-typography-title :level="3" style="margin: 0"> 
                {{ title }} 
              </a-typography-title>
            </a-col>
            <a-col :span="24">
              <a-typography-text v-if="subtitle" type="secondary" style="margin: 0">
                {{ subtitle }}
              </a-typography-text>
              <slot v-else name="subtitle" />
            </a-col>
          </a-row>
        </a-col>
        <a-col>
          <slot name="middle" />
        </a-col>
        <a-col>
          <a-space>
            <slot name="extra" />
            <a-tooltip v-if="showBackButton" title="sdfgdfg">
              <a-button
                class="center-items"
                size="large"
                type="dashed"
                @click="$router.back()"
              >
                <ArrowLeftOutlined />
              </a-button>
            </a-tooltip>
          </a-space>
        </a-col>
        <a-col :span="24">
          <slot name="additional" />
        </a-col>
      </a-row>
    </a-card>
  </template>
  
  <script setup >
import { computed, defineProps } from "vue"; 
import { ArrowLeftOutlined } from "@ant-design/icons-vue";

const props = defineProps({
  title: String,
  subtitle: String,
  breadcrumbs: Array,
  disableBackButton: Boolean,
  hideTitle: Boolean,
});

const showBackButton = computed(() => {
  if (props.disableBackButton) return false;
  return window?.history?.state?.position;
});

const createRouterParsableItem = (route) => {
  if (typeof route === "string") return { name: route };
  return route;
};
</script>
  