<template>
  <a-drawer
    :class="`ant-drawer-${placement}`"
    :destroyOnClose="true"
    :maskClosable="false"
    :placement="placement"
    :style="{
      height: '100%',
      overflow: 'auto',
      paddingBottom: '50px',
    }"
    :title="title"
    :open="isOpen"
    :width="width"
    @close="drawerStore.reset"
  >
    <a-alert
      v-if="error"
      style="margin-bottom: 12px"
      :message="error"
      type="error"
      show-icon
      closable
    />
    <Suspense>
      <component v-if="component" :is="component" />
      <a-alert
        v-else-if="isOpen && !component"
        message="No component found!"
        type="error"
        show-icon
      />

      <template #fallback>
        <a-skeleton active />
      </template>
    </Suspense>
  </a-drawer>
</template>

<script setup>
import { computed, onErrorCaptured, ref, watch } from "vue";
import { useDrawerStore } from "../stores/drawer";
import { useRoute } from "vue-router";

const drawerStore = useDrawerStore();

const component = computed(() => drawerStore.getComponent);
const title = computed(() => drawerStore.getTitle);
const width = computed(() => drawerStore.getWidth);
const placement = computed(() => drawerStore.getPlacement);
const isOpen = computed(() => drawerStore.getSideDrawerStatus);

const route = useRoute();

const error = ref(false);

onErrorCaptured((err) => {
  if ("code" in err) return;
  error.value = `${err.message} Check console!`;
  console.log(err);
  return false;
});

watch(
  () => route.path,
  () => {
    if (!isOpen.value) return;
    drawerStore.reset();
  }
);
</script>
