<template>
  <div class="drawer-form-footer">
    <template v-if="footer">
      <a-button
        html-type="button"
        danger
        type="text"
        :style="{ marginRight: '8px' }"
        @click="close"
      >
        Cancel
      </a-button>
      <a-button
        type="primary"
        html-type="submit"
        :loading="loading"
        :disabled="disabled ?? false"
      >
        {{ name }}
      </a-button>
    </template>
    <slot :loading="loading" :close="close" v-else />
  </div>
</template>
<script setup>
// import { useDrawerStore } from "@/stores/drawer";
import { useDrawerStore  } from "../stores/drawer";
import { computed , defineProps} from "vue";
const drawerStore = useDrawerStore();
const props = defineProps({
     name: String,
      disabled: Boolean,
       footer: Boolean 
      })
const loading = computed(() => drawerStore.getLoading);
const close = drawerStore.reset; // function
</script>

<style>
.drawer-form-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  /*background: #fff;*/
  text-align: right;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
</style>
