
<template>
  <PageWrapper  :columns="columns" :breadcrumbs="breadcrumbs">
    <template #extra>
      <a-tooltip >
        <a-button
          type="primary"
          size="large"
          class="center-items"
          @click="addPatient"
        >
          <PlusOutlined />
        </a-button>
      </a-tooltip>
    </template>
    <a-card>
      <a-table
        ref="table"
        :columns="filteredColumns" 
        :data-source="data"
        @change="onChange"
        :style="{
          background: '#fff',
        }"
        :pagination="{ pageSize: 20 }"
        scroll="none"
      >
        <template
          #customFilterDropdown="{
            setSelectedKeys,
            selectedKeys,
            confirm,
            clearFilters,
            column,
          }"
        >
          <div style="padding: 8px">
            <a-input
              ref="searchInput"
              :placeholder="`Search ${column.dataIndex}`"
              :value="selectedKeys[0]"
              style="width: 188px; margin-bottom: 8px; display: block"
              @change="
                (e) => setSelectedKeys(e.target.value ? [e.target.value] : [])
              "
              @pressEnter="
                handleSearch(selectedKeys, confirm, column.dataIndex)
              "
            />
            <a-button
              type="primary"
              size="small"
              style="width: 90px; margin-right: 8px"
              @click="handleSearch(selectedKeys, confirm, column.dataIndex)"
            >
              <template #icon>
                <SearchOutlined />
              </template>
              Search
            </a-button>
            <a-button
              size="small"
              style="width: 90px"
              @click="handleReset(clearFilters)"
            >
              Reset
            </a-button>
          </div>
        </template>
        <template #customFilterIcon="{ filtered }">
          <search-outlined
            :style="{ color: filtered ? '#108ee9' : undefined }"
          />
        </template>
        <template #bodyCell="{ text, column, record }">
          <span
            v-if="
              statee.searchText && statee.searchedColumn === column.dataIndex
            "
          >
            <template
              v-for="(fragment, i) in text
                .toString()
                .split(
                  new RegExp(
                    `(?<=${statee.searchText})|(?=${statee.searchText})`,
                    'i'
                  )
                )"
            >
              <mark
                v-if="
                  fragment.toLowerCase() === statee.searchText.toLowerCase()
                "
                :key="i"
                class="highlight"
              >
                {{ fragment }}
              </mark>
              <template v-else>{{ fragment }}</template>
            </template>
          </span>
          <template v-if="column.dataIndex === 'action'">
            <div>
              <a-tooltip placement="top">
                <template #title>
                  <span>Show Patient's Data</span>
                </template>
                <span>
                  <a-button
                    style="color: green"
                    type="text"
                    size="small"
                    @click="viewcontact(record)"
                  >
                    <EyeOutlined />
                  </a-button>
                </span>
              </a-tooltip>
              <a-tooltip placement="top">
                <template #title>
                  <span>Edit Patient's Data</span>
                </template>
                <span>
                  <a-button
                    type="text"
                    size="small"
                    style="color: orange"
                    @click="() => editPatient(record)"
                  >
                    <EditOutlined />
                  </a-button>
                </span>
              </a-tooltip>
              <a-tooltip placement="top">
                <template #title>
                  <span>Remind contact's</span>
                </template>
                <span>
                  <a-tooltip placement="top">
                    <template #title>
                      <span>Delete Patient's Data</span>
                    </template>
                    <span>
                      <a-popconfirm
                        title="Are you sure you want to delete this patient's data?"
                        @confirm="() => deletePatient(record.id)"
                        ok-text="Yes, I am"
                        cancel-text="No"
                      >
                        <a-button type="text" size="small" style="color: red"
                          ><delete-outlined
                        /></a-button>
                      </a-popconfirm>
                    </span>
                  </a-tooltip>
                </span>
              </a-tooltip>
            </div>
          </template>
        </template>
      </a-table>
    </a-card>
  </PageWrapper>
</template>
<script setup>
// import { useDrawerStore } from "@/stores/drawer";
import { useDrawerStore } from "../../stores/drawer"
import PageWrapper from "../../components/PageWrapper.vue";
// import Create from "@/pages/patients/drawer/create.vue";
// import { MMMMDDYYYY, YYYYMMDD } from "@/helpers/dates";
import { MMMMDDYYYY , YYYYMMDD} from '../../helpers/dates'
import Create from "../../pages/patients/drawer/create.vue"
// import faker from "faker";
import dayjs from "dayjs";
import { computed, reactive, watch, ref, onMounted } from "vue";
import {
  DeleteOutlined,
  EditOutlined,
  EyeOutlined,
  SearchOutlined,
  PlusOutlined,
} from "@ant-design/icons-vue";
const showAllColumns = ref(false);

const columns = computed(() => [
  {
    title: "Name",
    dataIndex: "name",
    customRender: ({ record: { first_name, last_name } }) =>
      `${first_name} ${last_name}`,
  },
  {
    title: "First Name",
    dataIndex: "first_name",
    key: "first_name",
    sorter: (a, b) => a.first_name.length - b.first_name.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.first_name.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Middle Name",
    dataIndex: "middle_name",
    sorter: (a, b) => a.middle_name.length - b.middle_name.length,
    sortDirections: ["descend", "ascend"],
    key: "middle_name",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.middle_name.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Last Name",
    dataIndex: "last_name",
    sorter: (a, b) => a.last_name.length - b.last_name.length,
    sortDirections: ["descend", "ascend"],
    key: "last_name",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.last_name.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Mobile No.",
    dataIndex: "mobile",
    key: "mobile",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.mobile.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Gender",
    dataIndex: "gender",
    key: "gender",
    filters: [
      {
        text: "female",
        value: "female",
      },
      {
        text: "male",
        value: "male",
      },
    ],

    onFilter: (value, record) => record.gender.indexOf(value) === 0,
  },
  {
    title: "Date of Birth",
    dataIndex: "dob",
    key: "dob",
    customRender: ({ text }) => {
      if (!text) return "-";
      const date = dayjs(text, YYYYMMDD);
      return date.format(MMMMDDYYYY);
    },
  },
  {
    title: "Age",
    dataIndex: "age",
    sorter: (a, b) => a.age - b.age,
    sortDirections: ["descend", "ascend"],
    key: "age",
    customRender: ({ text }) => {
      if (text === null) return "-";
      return `${text} years`;
    },
    filterSearch: true,
    customFilterDropdown: true,
  },
  {
    title: "Email",
    dataIndex: "email",
    key: "email",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.email.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "City",
    dataIndex: "city",
    sorter: (a, b) => a.city.length - b.city.length,
    sortDirections: ["descend", "ascend"],
    key: "city",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.city.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "State",
    dataIndex: "state",
    sorter: (a, b) => a.state.length - b.state.length,
    sortDirections: ["descend", "ascend"],
    key: "state",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.state.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "pincode",
    dataIndex: "pincode",
    sorter: (a, b) => a.pincode.length - b.pincode.length,
    sortDirections: ["descend", "ascend"],
    key: "pincode",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.pincode.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Actions",
    dataIndex: "action",
    key: "action",
  },
]);

function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns.value;
  } else {
    return columns.value.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});
// const generateData = () => {
//   for (let i = 0; i < 50; ++i) {
//     data.value.push({
//       key: i,
//       name: faker.name.findName(),
//       first_name: faker.name.firstName(),
//       middle_name: faker.name.lastName(),
//       last_name: faker.name.lastName(),
//       mobile: faker.phone.phoneNumber(),
//       gender: faker.random.arrayElement(["male", "female"]),
//       dob: faker.date.past().toISOString().split("T")[0],
//       email: faker.internet.email(),
//       city: faker.address.city(),
//       state: faker.address.state(),
//       pincode: faker.address.zipCode(),
//     });
//   }
// };


const drawerStore = useDrawerStore();
const addPatient = () => {
  drawerStore.open({
    title: "Add New Patient",
    width: "50%",
    placement: "right",
    component: Create,
    callback: fetchData,
  });
};

const editPatient = (payload) => {
  drawerStore.open({
    title: "Update Patient Details",
    width: "50%",
    placement: "right",
    component: Create,
    callback: fetchData,
    payload,
  });
};


const plainOptions = [
  "name",
  "first_name",
  "middle_name",
  "last_name",
  "mobile",
  "gender",
  "email",
  "city",
  "state",
  "pincode",
  "action",
];
const defaultCheckedList = [
  "name",
  "mobile",
  "gender",
  "dob",
  "age",
  "state",
  "action",
];
const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});
const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};

watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice();
  } else {
    statee.checkedList = defaultCheckedList.slice();
  }
});

const deletePatient = (id) => {
  const patientsData = JSON.parse(localStorage.getItem("patientData")) || [];
  const index = patientsData.findIndex((doctor) => doctor.id === id);
  if (index !== -1) {
    patientsData.splice(index, 1);
    localStorage.setItem("patientData", JSON.stringify(patientsData));
    message.success("Patient's data deleted successfully!");
  
   }  
}; 

const data = ref([]);

const fetchData = async () => {
  try {
    
 const patientsData = await JSON.parse(localStorage.getItem("patientData")) || [];
  data.value = patientsData;

     
  } catch (error) {
    console.error(error);
  }
};
onMounted(fetchData);
</script>
<style scoped>
</style>

