<template>
  <a-layout-header
    class="header"
    them="light"
    style="background: #f5f5f5;"
  >
    <a-row justify="space-between" align="middle">
      <a-col :span="20">
        <a-row align="middle" :gutter="[10]">
          <a-col :span="3">
              <a-typography-title
                :level="2"
                class="logo"
                style="color: #00572c"
              >
                medico.
              </a-typography-title>
          </a-col>
          <a-col :span="21">
            <a-input
              placeholder="Start Tping..."
              :bordered="false"
            >
              <template #prefix>
                <SearchOutlined style="color: rgba(0, 0, 0, 0.3)" />
              </template>
            </a-input>
          </a-col>
        </a-row>
      </a-col>
      <a-col :span="4">
        <a-row justify="end" align="middle" :gutter="[10]">
          <a-col>
            <a-select
              :bordered="false"
            />
          </a-col>
          <a-col>
            <a-dropdown
              :trigger="['click']"
              placement="bottomRight"
              :arrow="{ pointAtCenter: true }"
            >
              <a-tooltip title="Foo Bar" placement="left">
                <a-avatar  style="background-color: #00572c" class="profile" @click.prevent>
                  <template #icon>
                    <UserOutlined />
                  </template>
                </a-avatar>
              </a-tooltip>
              <template #overlay>
                <a-menu style="width: 220px">
                  <a-menu-item disabled key="3"> Foo Bar </a-menu-item>
                  <a-menu-divider />
                  <a-menu-item key="2">
                    Profile
                  </a-menu-item>
                  <a-menu-item key="1">
                    Settings
                  </a-menu-item>
                  <a-menu-divider />
                  <a-menu-item danger key="0">
                    Settings
                  </a-menu-item>
                </a-menu>
              </template>
            </a-dropdown>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
  </a-layout-header>
</template>
<script setup>
import {SearchOutlined ,UserOutlined } from '@ant-design/icons-vue'
</script>
<style scoped>
</style>

