<template>
  <a-layout-sider
    v-model:collapsed="collapsed"
    :trigger="null"
    :style="{
      overflow: 'auto',
      backgroundColor: '#fff',
      
    }"
    collapsed-width="60"
  >
    <a-button @click="toggleMenu" block type="text" class="collapse-button" >
      <a-tooltip title="Expand" placement="right" v-if="collapsed">
        <MenuUnfoldOutlined />
      </a-tooltip>
      <a-tooltip v-else title="Collapse" placement="right">
        <MenuFoldOutlined />
      </a-tooltip>
    </a-button>
    <a-menu
     mode="inline" 
     >
     <a-menu-item key="1"><RouterLink to="/"><Icon icon="material-symbols:dashboard-outline"  style="font-size:18px" /><span class="text"> Dashboard</span></RouterLink></a-menu-item>
     <a-menu-item key="2"><RouterLink to="/patients"><Icon icon="carbon:user-avatar-filled" style="font-size:18px"  /> <span class="text"> Patients</span> </RouterLink></a-menu-item>
     <a-menu-item key="3"><RouterLink to="/case-history"><Icon icon="material-symbols:history" style="font-size:18px" /> <span class="text"> Case History</span></RouterLink></a-menu-item>
     <a-menu-item key="4"><RouterLink to="/payments"><Icon icon="material-symbols:payments-outline-sharp" style="font-size:18px" /> <span class="text">Payments</span> </RouterLink></a-menu-item>
     <a-menu-item key="5"><RouterLink to="/users"><Icon icon="majesticons:user-line"  style="font-size:18px" /><span class="text">Users</span>  </RouterLink></a-menu-item>
     <a-menu-item key="6"><RouterLink to="/contacts"><Icon icon="mdi:contact" style="font-size:18px"  /> <span class="text">Contacts</span> </RouterLink></a-menu-item>
     <a-menu-item key="7"><RouterLink to="/announcements"><Icon icon="mingcute:announcement-line" style="font-size:18px"  /> <span class="text">Announcements</span> </RouterLink></a-menu-item>
     <a-menu-item key="8"><RouterLink to="/lab-reports"><Icon icon="carbon:report" style="font-size:18px"  /> <span class="text"> Lab Reports</span></RouterLink></a-menu-item>

    </a-menu>
  </a-layout-sider>
</template>
  
  <script setup >
  import { Icon } from '@iconify/vue';
import { ref } from "vue";
import { MenuUnfoldOutlined, MenuFoldOutlined } from "@ant-design/icons-vue";
const collapsed = ref(false);
const toggleMenu = () => {
  collapsed.value = !collapsed.value;
};
</script>
<style scoped>
.text{
margin: 15px;
}
</style>
  