<template>
  <a-config-provider
  :theme="{ token: {
     colorPrimary: '#00b96b',
     fontFamily: 'Signika Negative, sans-serif',
    colorLink: 'var(--primary-color)',
    colorLinkHover: 'var(--link-hover)',
    colorLinkActive: 'var(--link-active)',
   } }"
>
  <div>
   <Default/> 
  </div>
</a-config-provider>
</template>
<script setup>
import { theme } from 'ant-design-vue';
import Default from './layout/Default.vue';

const { token } = theme.useToken();


</script>

<style>
input[type='color'] {
  border: 1px solid v-bind('token.colorBorder');
  background-color: v-bind('token.colorBgBase');
}

.ant-layout-sider-trigger {
  background-color: var(--link-active) !important;
}

.collapse-button,
.collapse-button:hover,
.collapse-button:active {
  background-color: var(--link-active) !important;
  color: #fff !important;
  border-radius: 0;
}

.action_wrapper {
  position: relative;
}

.layout {
  padding: 10px;
  overflow: auto;
  height: 100%;
}
</style>
