<template>
  <div class="page_wrapper">
    <ARow style="height: 100%">
      <ACol :span="12" style="position: relative">
        <RouterLink
          :to="{ name: 'index' }"
          style="position: absolute; top: 10px; left: 10px"
        >
          <ATypographyTitle :level="2" style="color: #00572c">
            medico.
          </ATypographyTitle>
        </RouterLink>
        <AuthLeftCarousel class="left" />
      </ACol>
      <ACol :span="12" class="right center-items">
        <div style="width: 450px">
          <RouterView v-slot="{ Component }">
            <template v-if="Component">
              <!--              <KeepAlive>-->
              <Suspense>
                <!-- main content -->
                <component :is="Component"></component>

                <!-- loading state -->
                <template #fallback>
                  <ASkeleton active />
                </template>
              </Suspense>
              <!--              </KeepAlive>-->
            </template>
          </RouterView>
        </div>
        <NavigateButtons />
        <div class="footer-text">
          <template v-for="(item, idx) in footerItems" :key="item.text">
            <RouterLink :to="{ name: item.link }">
              {{ item.text }}
            </RouterLink>
            <template v-if="idx !== footerItems.length - 1">|</template>
          </template>
        </div>
      </ACol>
    </ARow>
  </div>
</template>

<script setup>
import AuthLeftCarousel from "@/layouts/components/AuthLeftCarousel.vue";

// RESTART SERVER MANUALLY AFTER CHANGING STYLES THIS FILE
// PRESS 'r' on CONSOLE TO RESTART

const footerItems = [
  {
    text: "Terms of Service",
    link: "terms-of-service",
  },
  {
    text: "Privacy Policy",
    link: "privacy-policy",
  },
  {
    text: "Cookies",
    link: "cookies",
  },
];
</script>

<style lang="less">
.page_wrapper {
  height: 100vh;
  width: 100vw;
}

.left {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}

.right {
  height: 100%;
  padding: 12px;
  position: relative;
}

.footer-text {
  position: absolute;
  bottom: 12px;
  right: 12px;

  display: flex;
  gap: 12px;
  align-items: center;
}
</style>
