<template>
  <a-layout style="height: 100vh; position: relative" >
    <Header />
    <a-layout has-sider style="height: 100%" >
      <Side />
      <a-layout style="padding: 10px 24px 24px;" class="layout">
        <PageHeader />
        <a-layout class="container">
          <a-layout-content>
            <RouterView />
          </a-layout-content>
          <SideDrawer/>
        </a-layout>
      </a-layout>
    </a-layout>
  </a-layout>
</template>
<script setup>
import PageHeader from "../components/PageHeader.vue";
import Header from "./components/Header.vue";
import Side from "./components/SideMenu.vue";
import SideDrawer from "../components/SideDrawer.vue";
</script>
<style scoped>
.ant-layout-sider-trigger {
  background-color: var(--link-active) !important;
}

.collapse-button,
.collapse-button:hover,
.collapse-button:active {
  background-color: var(--link-active) !important;
  color: #fff !important;
  border-radius: 0;
 
}

.action_wrapper {
  position: relative;
}

.layout {
  padding: 10px 0 0 0;
}
.container{
  padding: 10px 0 0 0;
}
</style>